#header-logo {
<<<<<<< HEAD
  background-image: url("http://www.fnordware.com/superpng/pnggrad8rgb.png");
  width: 190px;
  height: 20px;
  Content-Type: text/css;
=======
  background-image: url("https://finanswatch.dk/incoming/article9575511.ece/ALTERNATES/big_article_460/SEB.png");
  width: 160px;
  height: 30px;
>>>>>>> 37916cb2d63fc682115ca77e51b89537ba3fed7f
}
